*.md

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
.env.*
.mypy_cache/
.pytest_cache/

.git/
.gitignore
.dockerignore
.vscode/
.idea/
.github/

tests/
migrations/
logs/
*.log
*.pid

src/Dockerfile
docker-compose.override.yml

