# sibsutis
SIBSUTIS_LOGIN=user
SIBSUTIS_PASSWORD=password

# bot
BOT_TOKEN=123456789:abcdefgiaidhaidieuyrieda
BOT_ADMIN_IDS=[123456789,987654321]

# database
DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
