# sibsutis
SIBSUTIS_LOGIN=user
SIBSUTIS_PASSWORD=password
SIBSUTIS_PROXY_URL=socks5://user:password@127.0.0.1:1080

# bot
BOT_TOKEN=123456789:abcdefghijklmnopqrstuvwxyz
BOT_ADMIN_IDS=[123456789,987654321]

# database
DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
